# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Secret ###
mms-backend-ghcr-secret.yaml
mms-backend-email-secret.yaml